* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(pexels-photo-1450360.jpeg); */
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color:lightgreen;
  cursor: pointer;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #f8397c;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 1rem rgb(252, 10, 10);
  transition: background-color 0.3s;

}
#reset-btn:active{
  background-color: rgba(252, 10, 10, 0.9);
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #18c393;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#msg {
  color: #f01414;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

.name{
  color: aliceblue;
}
.fotter img{
  width: 40px;
  margin-right: 30px;
}
.fotter{
  padding-top: 20px;
}
.Mypic{
  width: 100px;
  height: 40px;
  border-radius: 100px;
}

@media (max-width: 760px){
  .container{
  height: 40vh;
  }
  .name{
    background-color: #212121;
    padding: 10px;
  }
}